body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo {
    color: #333;
    text-align: center;
}

.paragrafo {
    margin-top: 20px;
    line-height: 1.5;
}

#botao {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#botao:hover {
    background-color: #3e8e41; /* Verde Escuro */
}
